<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let item of posts  | paginate: { id: 'postsPagination',
        itemsPerPage: pageSize,
        currentPage: p,
        totalItems: 100 }">
            <div class="card">
                <div class="card-body">
                    <h2>{{item.title}}</h2>
                    <p>{{item.body}}</p>
                </div>
            </div>
        </div>

        <div class="col-12">
            <pagination-controls id="postsPagination" (pageChange)="pageChanged($event)"
                (pageBoundsCorrection)="pageChanged($event)"
                 [maxSize]="9" [directionLinks]="true" [autoHide]="true"
                [responsive]="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- https://github.com/michaelbromley/ngx-pagination/blob/master/README.md -->